:root {
    --praymare-text-color: #757575;
    --title-text-color: #212121;
    --logo-akcent-color: #2196F3;
    --praymary-background-color: #FFFFFF;
}
.page {
    background: #FFFFFF;
    color:var(--praymare-text-color);
}
/* Основные цвета #212121, #757575 /
/* Цвета логотипа #2196F3, #000000, #ffffff */
/* акцент #2196F3 */



/* Убираем подчёркивание */
a {
    text-decoration: none;
}
li {
    list-style-type: none;   
}
/* шапка, навигация, футер */
/* зміна кольору при наведенні курсору */

.link a:hover,
.link a:focus, 
.link a:active {
    color: var(--logo-akcent-color);
}

.logo {
    color: #000000;
}
.logo-web {
    color: var(--logo-akcent-color);
}
.site-nav a{
    color:var(--title-text-color);
}
.contact-info {
    color: var(--praymare-text-color);
}

/* головна частина */
.title-section {
    background: #2F303A;
}
.title {
    color:var(--praymary-background-color);
}
.button {
    color:var(--praymary-background-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* переваги */
.titl-main {
    color:var(--title-text-color);
}

/* діяльність */

/* команда */

/* футер */
.footer {
    background: #2F303A;
}
.contact {
    color:var(--praymary-background-color);
    font-style: normal;
}
.logo-footer {
    color:var(--praymary-background-color);
}
.contact-footer {
    color: rgba(255, 255, 255, 0.6);
}
